.a{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Mvcr0QDsGXOx29cSBfXd6AHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
}

.a11{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Mvcr0QDsGXOx29cSBfXd6AHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: -81%;
}

.a12{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Mvcr0QDsGXOx29cSBfXd6AHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: -0%;
}

.a21{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Mvcr0QDsGXOx29cSBfXd6AHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 40%;
    margin-top: -81%;
}

.a22{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.Mvcr0QDsGXOx29cSBfXd6AHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 40%;
    margin-top: -0%;
}



.b{
    background-image: url(image1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;  
}

.b11{
    background-image: url(image1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat; 
     margin-left: 20%;
    margin-top: -0%;
} 

.b12{
    background-image: url(image1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat; 
     margin-left: 20%;
    margin-top: -0%;
}

.b21{
    background-image: url(image1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 40%;
    margin-top: -0%;
}

.b22{
    background-image: url(image1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: 40%;
    margin-top: -0%;
}











