*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 1%;
    align-items: center;
    border-bottom: 1px solid rgba(219,219,219,1);
    background-color: white;
} 
 

header .log{
    
    height: 160px;
    margin-top: -10px; 


}

header .log img{

    height: 50%;
    margin: -8px;
    margin-top: -7px;
}

header .search-box{
    
    
    height: 120px;
    
    background-color: lightgray;
    height: 20px;
    width: 250px;
    border-radius: 37px;
    margin-top: -90px;
    
}

header .search-box input{

    border: none;
    outline: none;
    background-color: lightgrey;

}

header .like i{

    height: 100px;
    
}


